    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 100px;
    }

    button {
        font-size: 1.1rem;
        background-color: rgb(214, 214, 214);
        cursor: pointer;
        width: 120px;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        margin-left: 20px;
    }

    #kode {

        font-size: 2.5rem;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    #kodebrikke {
        display: flex;
        width: 500px;
        height: 150px;
        margin-inline: auto;
        padding: 40px;
        border: solid black 1px;
        color: white;
        background-color: black;
        border-radius: 60%;
        margin-bottom: 150px;
    }

    #screen {
        display: grid;
        align-items: center;
        background-color: rgb(214, 214, 214);
        height: 80px;
        width: 50%;
        margin-left: 60px;
        margin-block: auto;
        border-radius: 10px;
        font-family: 'Digital Numbers', sans-serif;

    }

    input {

        height: 50px;
        font-size: 1.8rem;
        text-align: center;
        margin: 5px;

    }